*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: rgb(208, 209, 215);
}

.heading{
    width: 100%;
    height: 130px;
    background-color: black;
    color: white;
    padding: 20px;
    justify-items: center;
   align-content: center;
}

#name{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-bottom: 20px;
}

#nav a{
    text-decoration: none;
    padding: 25px;
    color: white;
    font-size: 19px;
}

#about{
    padding-top:20px;
    padding-left: 5px;
    color: black;
    font-size: 20px;
    margin-bottom: 20px;
}

#about h2{
    margin-bottom: 25px;
}

#about p{
    color: rgb(58, 55, 55);
}

#Project{
    padding: 5px;
}

.project-heading{
    margin-bottom: 20px;
}

.project-1{
    height: 120px;
    background-color: white;
    border-left: 6px solid rgb(43, 117, 170);
    padding: 20px 20px;
    margin-bottom: 20px;

}

.project-1 h2{
    margin-bottom: 15px;
}

.project-1 p{
    font-size: 17px;
}

.project-2{
    height: 120px;
    background-color: white;
    border-left: 6px solid rgb(43, 117, 170);
    padding: 20px 20px;
    margin-bottom: 20px;
}

.project-2 h2{
    margin-bottom: 15px;
}

.project-2 p{
    font-size: 17px;
}

#contact{
    padding: 5px 10px;
}

#contact h1{
    margin-bottom: 20px;
}

form{
    color: rgb(181, 107, 107);
}

form input{
     padding: 10px 45%;
     margin-bottom: 10px;
     
}

#text{
    width: 100%;
}

.button-bt{
    padding: 10px;
    margin-bottom: 20px;
}

.btn{
    padding: 10px 12px;
    background-color: rgb(62, 134, 162);
    color: white;
    border: transparent;
}



.footer{
    height: 60px;
    background-color: black;
    color: white;
    padding: 20px;
    justify-items: center;
    align-content: center;
}





